@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

body {
  background-image: url(../assets/images/alice_background.jpg);
  max-width: 100vw;
  max-height: 100vh;
  background-size: cover;
  background-repeat: repeat-y;
}

header {
  margin-top: 100px;
}

p {
  margin: 0;
  margin-left: 150px;
}

.displayOff {
  display: none !important;
}

.emphasisText {
  color: rgb(255, 141, 161);
  font-size: 30px;
}

.emphasisWord {
  color: rgb(248, 178, 293);
  font-size: 40px;
}

.emphasisWord2 {
  color: rgb(180, 146, 160);
}

.emphasisWord3 {
  color: rgb(255, 141, 161);
  font-size: 30px;
}

.mainContainer {
  position: fixed;
  bottom: 48%;
  left: 45%;
}

.specialInvite {
  position: relative;
  left: -115px;
}

.info {
  text-align: center;
  margin-top: -25px;

  font-size: 20px;
}

.counter {
  text-align: center;
}

.mainConfirmButton {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-left: 75px;
}

#confirmation {
  display: flex;
  position: fixed;
  bottom: 50px;
}

.buttonStyle {
  font-size: 30px;
  border-radius: 20px;
  background-color: black;
  color: rgb(255, 141, 161);
}

.buttonStyle:hover {
  background-color: rgb(255, 141, 161);
  color: black;
}

.attribution {
  font-size: 11px;
  text-align: center;
  justify-content: center;
  font-weight: 300;
  display: flex;
  position: fixed;
  bottom: 10px;
}

.attribution a {
  color: hsl(256, 67%, 59%);
  font-size: 11px;
}

#musicToggleBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
}
